<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Meals</title>
    <link rel="stylesheet" href="../styles/deliveryMenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-fB1c6UrYn1+6k4fgHnhZYDEP5D1XbVNBgh+Ogz9pX4shjvOuvcwR5B+N37yK1hQ=" crossorigin="anonymous">
</head>
<body>
    <header>
        <img src="../images/Bukhari logo.jpg" alt="Bukhari Logo" class="logo">
        <h1 class="menu-heading">Menu</h1>
        <div class="header-icons">
            <a href="../pages/waiter_orders.html"><img src="../images/orders.png" alt="Orders"></a>
            <a href="../pages/deliveryCart.html"><img src="../images/icons8-cart-24.png" alt="Cart"></a>
        </div>
    </header>

    <main>
        <div class="meal-list">
            <% meals.forEach(meal => { %>
                <div class="meal" data-name="<%= meal.name %>" data-description="<%= meal.description %>" data-quantity="<%= meal.quantity %>" data-image="<%= meal.image %>">
                    <img src="<%= meal.image %>" alt="<%= meal.name %>">
                    <h2><%= meal.name %></h2>
                    <p><%= meal.description %></p>
                    <p>Cost: <%= meal.price %></p>
                     <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                </div>
            <% }); %>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Bukhari Restaurant</p>
    </footer>

    <script src="../scripts/venueMenu.js"></script>

</body>
</html>
